@section pageCss{
    @*Bu bölüm _Layout içerisindeki Head son kısmında bulunan css kısmına denk gelmektedir.*@
}

<h1> Müşteri Listesi</h1>


@section pageJs{

    @*Burasıda sayfanın lat kısmında js tarafından bulunan sectiona gider.*@
}